version: '3.8'
services:
  backend:
    build: ../backend
    ports:
      - "8000:8000"
    env_file:
      - ../infra/env/.env.example
    depends_on:
      - postgres
      - redis
  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: api_test
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7
volumes:
  db_data:
    driver: local
